<!doctype html>
<html lang="en">

<head>
    <title>Video</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body {
            background-image: url(images/embe.jpg);
            background-size: 50%;
        }

        .vid {
            text-align: center;
            margin-top: 100px;
        }

        .dark-mode {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="vid">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@a10th10/video/7250735317584530693"
                data-video-id="7250735317584530693" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@a10th10"
                        href="https://www.tiktok.com/@a10th10?refer=embed">@a10th10</a> hmm <a title="capcut"
                        target="_blank" href="https://www.tiktok.com/tag/capcut?refer=embed">#CapCut</a> <a
                        title="viral" target="_blank" href="https://www.tiktok.com/tag/viral?refer=embed">#viral</a> <a
                        target="_blank" title="♬ nhạc nền - Ánh - bao giờ lớn thì đổi tên🫶🏻"
                        href="https://www.tiktok.com/music/nhạc-nền-Ánh-7250735348792494853?refer=embed">♬ nhạc nền -
                        Ánh - bao giờ lớn thì đổi tên🫶🏻</a> </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>

        </div>
        <div class="vid">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@a10th10/video/7265327486043557121"
                data-video-id="7265327486043557121" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@a10th10"
                        href="https://www.tiktok.com/@a10th10?refer=embed">@a10th10</a>
                    <p></p> <a target="_blank" title="♬ nhạc nền  - TÈO MUSIC"
                        href="https://www.tiktok.com/music/nhạc-nền-TÈO-MUSIC-7220445525510032154?refer=embed">♬ nhạc
                        nền - TÈO MUSIC</a>
                </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>

        </div>
        <div class="vid">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@a10th10/video/7255538269264317701"
                data-video-id="7255538269264317701" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@a10th10"
                        href="https://www.tiktok.com/@a10th10?refer=embed">@a10th10</a> :))) <a title="capcut"
                        target="_blank" href="https://www.tiktok.com/tag/capcut?refer=embed">#CapCut</a> <a
                        target="_blank" title="♬ nhạc nền - Ánh - bao giờ lớn thì đổi tên🫶🏻"
                        href="https://www.tiktok.com/music/nhạc-nền-Ánh-7255538274495040262?refer=embed">♬ nhạc nền -
                        Ánh - bao giờ lớn thì đổi tên🫶🏻</a> </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>

        </div>
        <div class="vid">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@a10th10/video/7277916632645766407"
                data-video-id="7277916632645766407" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@a10th10"
                        href="https://www.tiktok.com/@a10th10?refer=embed">@a10th10</a> ke ton thuong lai muon ton
                    thuong nguoi khac…<a title="capcut" target="_blank"
                        href="https://www.tiktok.com/tag/capcut?refer=embed">#CapCut</a> <a title="xuhuong"
                        target="_blank" href="https://www.tiktok.com/tag/xuhuong?refer=embed">#xuhuong</a> <a
                        target="_blank" title="♬ nhạc nền  - Thu Hằng 🌷"
                        href="https://www.tiktok.com/music/nhạc-nền-Thu-Hằng-🌷-7276362968626268929?refer=embed">♬ nhạc
                        nền - Thu Hằng 🌷</a> </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>

        </div>
        <div class="vid">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@a10th10/video/7235501183211801861"
                data-video-id="7235501183211801861" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@a10th10"
                        href="https://www.tiktok.com/@a10th10?refer=embed">@a10th10</a> …..<a title="trendmắtđen"
                        target="_blank"
                        href="https://www.tiktok.com/tag/trendm%E1%BA%AFt%C4%91en?refer=embed">#trendmắtđen</a> <a
                        target="_blank" title="♬ nhạc nền  - Người viết tình ca"
                        href="https://www.tiktok.com/music/nhạc-nền-Người-viết-tình-ca-7230697322773039873?refer=embed">♬
                        nhạc nền - Người viết tình ca</a> </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>

        </div>

        <div class="vid">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@a10th10/video/7235501183211801861"
                data-video-id="7235501183211801861" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@a10th10"
                        href="https://www.tiktok.com/@a10th10?refer=embed">@a10th10</a> …..<a title="trendmắtđen"
                        target="_blank"
                        href="https://www.tiktok.com/tag/trendm%E1%BA%AFt%C4%91en?refer=embed">#trendmắtđen</a> <a
                        target="_blank" title="♬ nhạc nền  - Người viết tình ca"
                        href="https://www.tiktok.com/music/nhạc-nền-Người-viết-tình-ca-7230697322773039873?refer=embed">♬
                        nhạc nền - Người viết tình ca</a> </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>

        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>